<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>S. Boyer</title>
    <link rel="icon" href="/images/sbico-web.png" type="image/png" sizes="160x160">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <script src="https://use.fontawesome.com/a802698f26.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
    <script src="/js/home.js"></script>
</head>

<body>
<div id="mobile-menu-open" class="shadow-large">
    <i class="fa fa-bars" aria-hidden="true"></i>
</div>
<!-- End #mobile-menu-toggle -->
<header>
    <div id="mobile-menu-close">
        <span>Close</span> <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    <ul id="menu" class="shadow">
        <li>
            <a href="#about">About</a>
        </li>
        <li>
            <a href="#experience">Experience</a>
        </li>
        <li>
            <a href="#education">Education</a>
        </li>
        <li hidden>
            <a href="#projects">Projects</a>
        </li>
        <li>
            <a href="#skills">Skills</a>
        </li>
        <li>
            <a href="#contact">Contact</a>
        </li>
    </ul>
</header>
<!-- End header -->

<div id="lead">
    <div id="lead-content">
        <h1>Stephen Boyer</h1>
        <h2>Software Engineer</h2>
        <a href="/resumes/Stephen_Boyer_Resume_3.pdf" class="btn-rounded-white">Download Resume [PDF]</a>
    </div>
    <!-- End #lead-content -->

    <div id="lead-overlay"></div>

    <div id="lead-down">
            <span>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </span>
    </div>
    <!-- End #lead-down -->
</div>
<!-- End #lead -->

<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 class="heading">About Me</h2>
            </div>
            <div class="col-md-8">
                <p>
                    I am an ambitious and results-driven Java Software Engineer with experience from the IT and services sectors. I pay meticulous attention to detail, and use excellent knowledge of Java, MySQL, JavaScript, and HTML to deliver projects on time. I am good at applying an analytical approach to solving problems, communicating effectively at all levels, and collaborating effectively in team settings.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- End #about -->

<div id="experience" class="background-alt">
    <h2 class="heading">Experience</h2>
    <div id="experience-timeline">
        <div data-date="May 2015 – October 2016">
            <h3>Language I/O</h3>
            <h4>Software   Engineer</h4>
            <p>
                Language I/O provides a multilingual translation service through LinguistNow, which provides the tools to automate human or machine translation through a Java server application.
            </p>
            <ul>
                <li>Worked in an Agile Development Team and used technologies such as Glassfish server, MySQL, J2EE, JPA, JSP, and JavaScript to maintain and enhance an enterprise Java application</li>
                <li>Designed, maintained, and implemented REST APIs</li>
                <li>Stored new data using Java persistence libraries and MySQL, and used jQuery to develop asynchronous web pages</li>
                <li>Developed asynchronous web pages using jQuery</li>
                <li>Streamlined deployment process by developing continuous integration tools</li>
            </ul>
        </div>
        <div data-date="April 2013 – August 2014">
            <h3>Cheyenne Technology</h3>
            <h4>Intern</h4>
            <p>Cheyenne Technology, LLC develops websites that leverage social media channels and support mobile devices. The company designs PHP-based web pages for a variety of local clients, and uses the Concrete5 CMS.</p>
            <ul>
                <li>Completed website updates (remotely) for various clients and resolved numerous problems in Java support software</li>
            </ul>
        </div>
        <div data-date="April 2013 – August 2014">
            <h3>Steam Vapour Co, LLC</h3>
            <h4>Web Developer</h4>
            <p>Steam Vapour Co is a electronic cigarette retailer that required a online store.
            </p>
            <ul>
                <li>
                    Created and configured a web store using tools like Stitch and Big Commerce.
                </li>

            </ul>
        </div>
    </div>
</div>
<!-- End #experience -->

<div id="education">
    <h2 class="heading">Education</h2>
    <div class="education-block">
        <h3>University of Wyoming</h3>
        <span class="education-date">August 2009 - May 2015</span>
        <h4>Bachelor of Science in Computer Engineering</h4>
        <p><strong>Courses</strong></p>
        <p>
            Software Engineering, Object-Oriented Programming, Artificial Intelligence, Electromagnetics, Circuit Analysis, HDL, Statistics, Multivariable Calculus
        </p>
    </div>
    <!-- End .education-block -->
</div>
<!-- End #education -->

<div id="projects" hidden class="background-alt">
    <h2 class="heading">Projects</h2>
    <div class="container">
        <div class="row">
            <div class="project shadow-large">
                <div class="project-image">
                    <img src="images/project.jpg" />
                </div>
                <!-- End .project-image -->
                <div class="project-info">
                    <h3>Project Name Here</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus. Fusce eget efficitur libero. Morbi dapibus porta quam laoreet placerat.
                    </p>
                    <a href="#">View Project</a>
                </div>
                <!-- End .project-info -->
            </div>
            <!-- End .project -->

            <div class="project shadow-large">
                <div class="project-image">
                    <img src="images/project.jpg" />
                </div>
                <!-- End .project-image -->
                <div class="project-info">
                    <h3>Project Name Here</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus. Fusce eget efficitur libero. Morbi dapibus porta quam laoreet placerat.
                    </p>
                    <a href="#">View Project</a>
                </div>
                <!-- End .project-info -->
            </div>
            <!-- End .project -->
        </div>
    </div>
</div>
<!-- End #projects -->

<div id="skills" class="background-alt">
    <h2 class="heading">Technical Skills</h2>
    <ul>
        <li>Java</li>
        <li>J2EE</li>
        <li>Spring MVC</li>
        <li>HTML</li>
        <li>JavaScript</li>
        <li>Python</li>
        <li>C</li>
        <li>C#</li>
        <li>C++</li>
        <li>jQuery</li>
        <li>MySQL</li>
        <li>Linux shell (bash)</li>
        <li>LaTeX</li>
        <li>PostgreSQL</li>
        <li>JPA</li>
        <li>Hibernate</li>
        <li>JDBC</li>
    </ul>
</div>
<!-- End #skills -->

<div id="contact">
    <h2>Get in Touch</h2>
    <h2>
        <a href="https://www.linkedin.com/in/steve-boyer/" target="_blank"><i class="fa fa-2x fa-linkedin" aria-hidden="true"></i></a>
        <a href="https://github.com/steveboyer" target="_blank"><i class="fa fa-2x fa-github" aria-hidden="true"></i></a>
    </h2>
    <div id="contact-form">
        <form method="POST" action="https://formspree.io/sboyer307@gmail.com">
            <input type="hidden" name="_subject" value="Contact request from personal website" />
            <input type="email" name="_replyto" placeholder="Your email" required>
            <textarea name="message" placeholder="Your message" required></textarea>
            <button type="submit">Send</button>
        </form>
    </div>
    <!-- End #contact-form -->
</div>
<!-- End #contact -->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-5 copyright">
                <p>
                    Copyright &copy; 2017 Stephen Boyer
                </p>
            </div>
            <div class="col-sm-2 top">
                    <span id="to-top">
                        <i class="fa fa-chevron-up" aria-hidden="true"></i>
                    </span>
            </div>
        </div>
    </div>
</footer>
<!-- End footer -->


</body>

</html>

<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">-->

<!--<body>-->

<!--<div class="jumbotron text-center">-->
<!--<div class="container">-->
<!--<a href="/" class="lang-logo">-->
<!--<img src="/lang-logo.png">-->
<!--</a>-->
<!--<h1>Getting Started with Java on Heroku</h1>-->
<!--<p>This is a sample Java application deployed to Heroku. It's a reasonably simple app - but a good foundation for understanding how to get the most out of the Heroku platform.</p>-->
<!--<a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-java"><span class="glyphicon glyphicon-flash"></span> Getting Started with Java</a>-->
<!--<a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/java-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="container">-->
<!--<div class="alert alert-info text-center" role="alert">-->
<!--To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-java" class="alert-link">Getting Started with Java on Heroku</a> tutorial.-->
<!--</div>-->
<!--<hr>-->
<!--<div class="row">-->
<!--<div class="col-md-6">-->
<!--<h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>-->
<!--<ul>-->
<!--<li>This app was deployed to Heroku, either using Git or by using <a href="https://github.com/heroku/java-getting-started">Heroku Button</a> on the repository.</li>-->

<!--<li>When Heroku received the source code, it fetched all the dependencies in the <a href="https://github.com/heroku/java-getting-started/blob/master/pom.xml">pom.xml</a>, creating a slug.</li>-->
<!--<li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug can be mounted and executed.</li>-->
<!--<li>You can scale your app, manage it, and deploy over <a href="https://addons.heroku.com/">150 add-on services</a>, from the Dashboard or CLI.</li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="col-md-6">-->
<!--<h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>-->
<!--<ul>-->
<!--<li>If you are following the <a href="https://devcenter.heroku.com/articles/getting-started-with-java">Getting Started</a> guide, then please head back to the tutorial and follow the next steps!</li>-->
<!--<li>If you deployed this app by deploying the Heroku Button, then in a command line shell, run:</li>-->
<!--<ul>-->
<!--<li><code>git clone https://github.com/heroku/java-getting-started.git</code> - this will create a local copy of the source code for the app</li>-->
<!--<li><code>cd java-getting-started</code> - change directory into the local source code repository</li>-->
<!--<li><code>heroku git:remote -a &lt;your-app-name></code> - associate the Heroku app with the repository</li>-->
<!--<li>You'll now be set up to run the app locally, or <a href="https://devcenter.heroku.com/articles/getting-started-with-java#push-local-changes">deploy changes</a> to Heroku</li>-->
<!--</ul>-->
<!--</ul>-->
<!--<h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>-->
<!--<ul>-->
<!--<li><a href="https://www.heroku.com/home">Heroku</a></li>-->
<!--<li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>-->
<!--<li><a href="https://devcenter.heroku.com/articles/getting-started-with-java">Getting Started with Java on Heroku</a></li>-->
<!--<li><a href="https://devcenter.heroku.com/articles/deploying-java">Deploying Java Apps on Heroku</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div> &lt;!&ndash; row &ndash;&gt;-->
<!--<div class="alert alert-info text-center" role="alert">-->
<!--Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.-->
<!--</div>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->
